<!-- Validation failure messages -->
<% if @evaluation.errors.any? %>
  <% @evaluation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Evaluation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_evaluation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for reviewer_id -->
      <div class="form-group">
        <label for="reviewer_id" class="control-label">
          Reviewer
        </label>

        <%= select_tag(:reviewer_id, options_from_collection_for_select(User.all, :id, :created_at, @evaluation.reviewer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for reviewee_id -->
      <div class="form-group">
        <label for="reviewee_id" class="control-label">
          Reviewee
        </label>

        <input type="text" id="reviewee_id" name="reviewee_id" placeholder="Reviewee" class="form-control" value="<%= @evaluation.reviewee_id %>">
      </div>

      <button class="btn btn-success">
        Create Evaluation
      </button>
      or
      <a href="/evaluations">Cancel</a>
    </form>
  </div>
</div>
